@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	box-sizing: border-box;
}

#root {
	margin: 0 auto;
	padding: 0;
	text-align: center;
	max-width: 1080px;
}

